<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title>Angular Tutorial</title>
</head>
<body>
<h1>Hello world</h1>
<p class="something">variable {{title}}</p>

<p>Here is our work</p>
<!-- {{}} it is interpolation-->
<p title="{{name}}">{{name}}</p>
<!--[] attribute bindings, inside goes js code-->
<p [title]="name"></p>
<!--try to not use it, dangerous-->
<p [innerHTML]="myInnerHTML()"></p>

<!--again usage of binding and also creating two way binding-->
<input (input)="changeName($event)" value="{{name}}"/>
<br/>
<input (input)="changeName($event)" [value]="name"/>

<!--usage of ngModel-->
<br/>
<input [(ngModel)]="surname" type="text">
<p>{{surname}}</p>

<!--[(ngModel)] does under the hood-->
<br/>
<input (ngModelChange)="surname=$event" [ngModel]="surname" type="text">
<p>{{surname}}</p>
</body>
</html>
